{{>_partial/header}}
{{>_partial/navbar}}

<main class="container">
    <script src="/assets/js/addProductPrice.js" type="text/javascript"></script>
    <h1>Welcome to Toko BluSea</h1>
    <form method="POST" action="/my-catering/product/{{product.id}}/edit" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <fieldset>
            Edit Nama Product <input type="text" name="name" value="{{product.name}}"/> <br />
            Edit Description <input type="text" name="description" value="{{product.description}}"/> <br />
            <table class="table">
              <thead>
              <tr>
                <th>Min. Quantity</th>
                <th>Price per pax</th>
              </tr>
              </thead>

              <tbody>

              {{#productPriceList}}
              <tr>
                <td> <input type='text' name='quantity' value="{{first}}"></td>
                <td> <input type='text' name='price' value="{{second}}"></td>
                <td><input type='button' value='Delete' onClick='deleteTablePriceRow(this);'></td>
              </tr>
              {{/productPriceList}}

              </tbody>

              <tbody id="dynamicTablePrice">

              </tbody>
              <input type="button" value="Add Price" onClick="expandTablePrice('dynamicTablePrice');">
            </table>
            <img class="img-fluid card-img-top" src="{{product.photo}}" alt="Card image cap"/>
            File to upload: <input type="file" name="file" value="{{product.photo}}"/> <br />
            <input type="submit"
                   value="Add Product" />
        </fieldset>
    </form>
    </body>
</main>

{{>_partial/footer}}
