{{>_partial/header}}

{{>_partial/public-navbar}}

<main class="container">

    <div class="jumbotron">
        <h1>Welcome to Toko BluSea</h1>
        <p class="lead">You can choose out available caterings here</p>
    </div>


    <div class="row">
        {{#caterings}}
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top" src="{{photo}}" alt="Card image cap">
                <h4 class="card-title">{{cateringName}}</h4>
                <div class="card-block">
                    <p class="card-text">{{description}}</p>
                    <a href="/catering/{{username}}/" class="btn btn-primary">Lihat makanan</a>
                </div>
            </div>
        </div>
        {{/caterings}}
    </div>

</main>

{{>_partial/footer}}
