{{>_partial/header}}
{{>_partial/public-navbar}}

<main class="container">
    <h1>{{catering.username}}</h1>
    <a href="/catering/{{catering.username}}/changePhoto"> Change Photo </a>
    <table class="table">
        <tr>
            <td>Nama perusahaan</td>
            <td>{{catering.cateringName}}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>{{catering.address}}</td>
        </tr>
        <tr>
            <td>Nomor telepon</td>
            <td>{{catering.phoneNumber}}</td>
        </tr>
    </table>
    <p>Daftar menu</p>
    <a href="/catering/{{catering.username}}/addproducts" > Want to add products? </a>
        <input type="hidden" name="catering-id" value="{{catering.id}}"/>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {{#catering.products}}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid card-img-top" src="{{photo}}" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text">
                                    Harga Rp. {{price}} / pax <br>
                                    {{description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/catering.products}}
                </div>
        </div>


    {{>_partial/footer}}
