{{>_partial/header}}
{{>_partial/navbar}}

<main class="container">
    <h1>{{catering.username}}</h1>
    <img class="img-fluid" width="400" src="{{catering.photo}}" alt="Card image cap"/>
    <a href="/catering/{{catering.username}}/changePhoto"> Change Photo </a>
    <table class="table">
        <tr>
            <td>Nama perusahaan</td>
            <td>{{catering.cateringName}}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>{{catering.address}}</td>
        </tr>
        <tr>
            <td>Nomor telepon</td>
            <td>{{catering.phoneNumber}}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="/my-catering/edit"> Want to edit? </a>
    <p>Daftar menu</p>
    <a class="btn btn-primary" href="/my-catering/addproducts" > Want to add products? </a>
        <input type="hidden" name="catering-id" value="{{catering.id}}"/>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {{#catering.products}}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive card-img-top" src="{{photo}}" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text">
                                    Harga Rp. <span class="rupiah">{{price}}</span> / pax <br>
                                    {{description}}
                                </p>
                            </div>
                            <a href="/my-catering/product/{{id}}/edit"> Edit Product? </a>
                            <form method="POST" action="/my-catering/product/{{id}}/delete">
                                <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                                <button class="btn btn-danger" value="submit">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                    {{/catering.products}}
                </div>
            </div>
        </div>
</main>


    {{>_partial/footer}}
