<!DOCTYPE html>
<html>
<head>
    <title>Welcome to BluSea!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome to Toko BluSea</h1>
<form method="POST" action="/catering/register">
    <fieldset>
        Insert Username <input type="text" name="username" /> <br />
        Insert Name <input type="text" name="cateringName" /> <br />
        Insert Email <input type="text" name="email" /> <br />
        Insert Password <input type="password" name="password" />  <br />
        Insert Address <input type="text" name="address" /> <br />
        Insert Description <input type="text" name="description" /> <br />
        Insert Phone Number <input type="text" name="phoneNumber" /> <br />
        Insert DP (Down Payment) <input type="text" name="dp" /> <br />
        <input type="submit"
               value="Register" />
    </fieldset>
</form>
</body>
</html>
