<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="/">Kuliner Nusantara</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/catering/order">My Order</a>
        </li>
    </ul>

    <ul class="nav navbar-nav float-md-right">
        <li class="nav-item">
            <a class="nav-link" href="/my-catering/profile">Hello, {{catering.cateringName}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
