<!DOCTYPE html>
<html class="no-js" lang="id">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blusea - B2B catering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/library/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/library/jquery/1.11.1/jquery.min.js"></script>
    <script src="/library/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
