<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Kuliner Nusantara</title>
    <link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/component.css" rel='stylesheet' type='text/css' />
    <link href="/assets/css/app.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kuliner Nusantara adalah solusi untuk mencari kebutuhan catering bagi perusahaan Anda." />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="/assets/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- cart -->
    <script src="/assets/js/simpleCart.min.js"> </script>
    <!-- cart -->
    <link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css" media="screen" />
    <script src="/assets/vendor/currencyFormatter.js/currencyFormatter.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
