{{>_partial/header}}
{{>_partial/navbar}}

<main class="container">

  <div class="row">
    <div class="col-md-12">

      <ul class="pagination" style="display: inline; padding-right: 30px">
        <li class="page-item {{#isFirstPage}}disabled{{/isFirstPage}}">
          <a class="page-link" href="/catering?page={{prevPage}}&count={{cateringPerPage}}" aria-label="Previous">
            <span aria-hidden="true">Previous</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><span href="#" class="page-link">{{start}}-{{end}} dari {{total}} catering</span></li>
        <li class="page-item {{#isLastPage}}disabled{{/isLastPage}}">
          <a class="page-link" href="/catering?page={{nextPage}}&count={{cateringPerPage}}" aria-label="Next">
            <span aria-hidden="true">Next</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="?page={{currentPage}}&count={{cateringPerPage}}&sort=name">Catering Name</a></li>
          <li><a href="?page={{currentPage}}&count={{cateringPerPage}}&sort=id">Catering ID</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row catering-list">
        {{#caterings}}
        <div class="col-md-3">
            <div class="panel panel-default">
                <img class="img-responsive card-img-top" src="{{photo}}" alt="Card image cap">
                <div class="panel-body">
                    <h4 class="panel-title">{{cateringName}}</h4>
                    <p class="card-text">{{description}}</p>
                </div>
                <div class="panel-footer">
                    <a href="/catering/{{username}}/" class="btn btn-primary">Lihat makanan</a>
                </div>
            </div>
        </div>
        {{/caterings}}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item {{#isFirstPage}}disabled{{/isFirstPage}}">
                        <a class="page-link" href="/catering?page={{prevPage}}&count={{cateringPerPage}}" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><span href="#" class="page-link">{{start}}-{{end}} dari {{total}} catering</span></li>
                    <li class="page-item {{#isLastPage}}disabled{{/isLastPage}}">
                        <a class="page-link" href="/catering?page={{nextPage}}&count={{cateringPerPage}}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>

{{>_partial/footer}}
