{{>_partial/header}}
{{>_partial/public-navbar}}

<div class="container">
    <h1>{{catering.cateringName}}</h1>
    <table class="table">
        <tr>
            <td>Alamat</td>
            <td>{{catering.address}}</td>
        </tr>
        <tr>
            <td>Nomor telepon</td>
            <td>{{catering.phoneNumber}}</td>
        </tr>
    </table>
    <h2>Daftar menu</h2>
    <form action="/my-user/order/new" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <input type="hidden" name="catering-id" value="{{catering.id}}"/>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {{#products}}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid card-img-top" src="{{photo}}" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text">
                                    Harga Rp. {{price}} / pax <br>
                                    {{description}}
                                </p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="choosen-product" value="{{id}}"> Tambahkan ke pesanan
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/products}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="quantity">Jumlah pesanan</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="note">Keterangan tambahan</label>
                    <textarea type="text" class="form-control" id="note" name="note" placeholder="Keterangan tambahan untuk pesanan Anda"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Pesan</button>
            </div>
        </div>
    </form>

{{>_partial/footer}}
