{{>_partial/header}}
{{>_partial/navbar}}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<div class="banner">
    <div class="container">
        <div class="banner-bottom">
            <div class="banner-bottom-left">
                <h2>B<br>U<br>Y</h2>
            </div>
            <div class="banner-bottom-right">
                <div  class="callbacks_container">
                    <ul class="rslides" id="slider4">
                        <li>
                            <div class="banner-info">
                                <h3>Smart But Casual</h3>
                                <p>Start your shopping here...</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>Shop Online</h3>
                                <p>Start your shopping here...</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>Pack your Bag</h3>
                                <p>Start your shopping here...</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--banner-->
                <script src="/assets/js/responsiveslides.min.js"></script>
                <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                        // Slideshow 4
                        $("#slider4").responsiveSlides({
                            auto: true,
                            pager:true,
                            nav:false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                                $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                                $('.events').append("<li>after event fired.</li>");
                            }
                        });

                    });
                </script>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="shop">
            <a href="/catering">BROWSE CATERING NOW</a>
        </div>
    </div>
</div>
<!-- content-section-starts-here -->
<div class="container">
    <div class="main-content">
        <div class="online-strip">
            <div class="col-md-4 follow-us">
                <h3>follow us : <a class="twitter" href="#"></a><a class="facebook" href="#"></a></h3>
            </div>
            <div class="col-md-4 shipping-grid">
                <div class="shipping">
                    <img src="/assets/image/shipping.png" alt="" />
                </div>
                <div class="shipping-text">
                    <h3>Free Shipping</h3>
                    <p>on orders over $ 199</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 online-order">
                <p>Order online</p>
                <h3>Tel:999 4567 8902</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="products-grid">
            <header>
                <h3 class="head text-center">Hottest Products</h3>
            </header>
            {{#productList}}
            <div class="col-md-4 product simpleCart_shelfItem text-center">
                <a href="/catering/{{catering.username}}"><img src="{{photo}}" alt="" /></a>
                <div class="mask">
                    <a href="/catering/{{catering.username}}">Quick View</a>
                </div>
                <a class="product_name" href="/catering/{{catering.username}}">{{name}}</a>
                <p><a class="item_add" href="#"><span class="item_price rupiah">{{price}}</span></a></p>
            </div>
            {{/productList}}
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<div class="other-products">
    <div class="container">
        <h3 class="like text-center">Featured Catering</h3>

        <ul id="flexiselDemo3">
            {{#caterings}}
            <li><a href="single.html"><img src="{{photo}}" class="img-responsive" alt="" /></a>
                <div class="product liked-product simpleCart_shelfItem">
                    <a class="like_name" href="single.html">{{cateringName}}</a>
                    <a href="/catering/{{username}}/" class="btn btn-primary">Select Catering</a>
                </div>
            </li>
            {{/caterings}}
        </ul>

        <script type="text/javascript">
            $(window).load(function() {
                $("#flexiselDemo3").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint:480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint:640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint:768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="/assets/js/jquery.flexisel.js"></script>
    </div>
</div>
<!-- content-section-ends-here -->
<div class="news-letter">
    <div class="container">
        <div class="join">
            <h6>JOIN OUR MAILING LIST</h6>
            <div class="sub-left-right">
                <form>
                    <input type="text" value="Enter Your Email Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Here';}" />
                    <input type="submit" value="SUBSCRIBE" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="row reason-to-subscribe">
    <div class="container">
        <h1 >Mengapa Mendaftar Kuliner Nusantara</h1>
        <div class="col-sm-4 col-sm-offset-2 col-xs-6 reason-box">
            <img src="/assets/image/ic-kualitas.png" alt="" class="small">
            <h4>Kualitas &amp; Variasi Terjamin</h4>
            <p>Makanan Anda dimasak oleh dapur katering profesional dengan variasi menu berbeda setiap harinya</p>
        </div>
        <div class="col-sm-4 col-xs-6 reason-box">
            <img src="/assets/image/ic-harga.png" alt="" class="small">
            <h4>Harga Terjangkau</h4>
            <p>Harga lebih murah dibandingkan makanan yang biasa Anda beli di tempat makan dengan kualitas lebih baik. Pesan banyak lebih murah.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-2 col-xs-6 reason-box">
            <img src="/assets/image/ic-fleksibel.png" alt="" class="small">
            <h4>Fleksibel</h4>
            <p>Anda bisa berhenti berlangganan sementara atau melewati jadwal pesanan sewaktu-waktu tanpa kehilangan masa berlangganan.</p>
        </div>
        <div class="col-sm-4 col-xs-6 reason-box">
            <img src="/assets/image/ic-guarantee2.png" alt="" class="small">
            <h4>Garansi Kualitas</h4>
            <p>Berhenti langganan sewaktu-waktu dengan pengembalian penuh jika Anda tidak puas.</p>
        </div>
    </div>
</div>

<!--
<main class="container" id="homepage">
    <div class="jumbotron">
        <h1>Selamat datang di Kuliner Nusantara</h1>
        <p class="lead">Temukan kebutuhan catering perusahaanmu disini!</p>
        <form>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-xl" id="lgFormGroupInput" placeholder="Kombinasi makanan, contoh &#34;ayam, nasi goreng, bakso&#34;">
                </div>
                <button type="submit" class="col-sm-2 col-form-label col-form-label-xl btn btn-primary">Cari</button>
            </div>
        </form>
    </div>


    <div class="row">
        {{#caterings}}
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top" src="{{photo}}" alt="Card image cap">
                <h4 class="card-title">{{cateringName}}</h4>
                <div class="card-block">
                    <p class="card-text">{{{description}}}</p>
                    <a href="/catering/{{username}}/" class="btn btn-primary">Lihat makanan</a>
                </div>
            </div>
        </div>

        {{/caterings}}
    </div>
</main>
-->

{{>_partial/footer}}
