{{>_partial/header}}
{{>_partial/public-navbar}}

<main class="container">
    <h1>Login to Kuliner Nusantara</h1>
    <p if="${loginError}" class="error">Wrong user or password</p>
    <form method="POST" action="/login">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <fieldset>
            Masukkan Username <input type="text" name="username" />  <br />
            Masukkan Password <input type="password" name="password" />  <br />
            <input type="submit"
                   value="Login!" />
        </fieldset>
    </form>
</main>

{{>_partial/footer}}
