{{>_partial/header}}
{{>_partial/navbar}}

<div class="container">
    <div class="login-page">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="/" title="Go to Home Page">Home</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="women">
                    Login
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="account_grid">
            <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                <h2>NEW CUSTOMERS</h2>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a class="acount-btn" href="/my-customer/register">Create an Account</a>
            </div>
            <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                <h3>LOGIN</h3>
                <p>If you have an account with us, please log in.</p>
                <form method="POST" action="/login">
                    <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                    {{#error}}
                    <div class="alert alert-danger" role="alert">
                        <strong>Invalid username or password</strong>
                    </div>
                    {{/error}}

                    <div>
                        <span>Username<label>*</label></span>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <span>Password<label>*</label></span>
                        <input type="password" name="password">
                    </div>
                    <div>
                        <!--<input type="checkbox" name="my-remember-me" id="remember-me">Remember me </login>-->
                    </div>
                    <input type="submit" value="Login">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!--
<main class="container">
    <h1>Login to Kuliner Nusantara</h1>
    <form method="POST" action="/login">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <fieldset>
            {{#error}}
            <div class="alert alert-danger" role="alert">
                <strong>Invalid username or password</strong>
            </div>
            {{/error}}

            Masukkan Username <input type="text" name="username" />  <br />
            Masukkan Password <input type="password" name="password" />  <br />
            <div>
                <input type="checkbox" name="my-remember-me" id="remember-me">Remember me </login>
            </div>
            <input type="submit"
                   value="Login!" />
        </fieldset>
    </form>
</main>
-->
{{>_partial/footer}}
