{{>_partial/header}}
{{>_partial/public-navbar}}

<div class="container">
    <h1>Login to Kuliner Nusantara</h1>
    <form method="POST" action="/user/login">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <fieldset>
            Masukkan Email <input type="text" name="username" />  <br />
            Masukkan Password <input type="password" name="password" />  <br />
            <input type="submit"
                   value="Login!" />
        </fieldset>
    </form>
</div>

{{>_partial/footer}}
