body {
    margin-top: 140px;
}

.jumbotron {
    background-color: #f8f8f8;
}

.navbar-blusea {
    z-index: 9000;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-blusea .banner-top {
    padding-top: 10px;
    background-color: #f8f8f8;
}

.navbar-blusea .inner-banner {
    background-color: #f8f8f8;
    padding-bottom: 10px;
    border-bottom: 1px solid #816263;
}


.banner {
    background:url("/assets/image/home-slide-2.jpg") no-repeat 0px 0px;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    -webkit-background-size:cover;
    min-height:705px;
}

.login-page {
    padding: 0;
}