body {
    margin-top: 100px;
}

.navbar-blusea {
    z-index: 9000;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-blusea .banner-top {
    padding-top: 10px;
    background-color: #f8f8f8;
}

.navbar-blusea .inner-banner {
    background-color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #816263;
}
