{{>_partial/header}}
{{>_partial/user-navbar}}

<main class="container">
    <table>
        <tr>
            <th>No</th>
            <th>Nama produk</th>
            <th>Harga satuan</th>
            <th>Subtotal</th>
        </tr>
        {{#order.orderDetails}}
        <tr>
            <td>1</td>
            <td>{{product.name}}</td>
            <td>{{order.quantities}}</td>
            <td>{{price}}</td>
        </tr>
        {{/order.orderDetails}}
        <tr>
            <td colspan="3">Total harga</td>
            <td>{{order.totalPrices}}</td>
        </tr>
    </table>
</main>

{{>_partial/footer}}
