{{>_partial/header}}
{{>_partial/customer-navbar}}

<main class="container">
    <h2>Pesanan Anda</h2>
    <form class="form-horizontal">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Jumlah pax</b></label>
            <div class="col-sm-10">
                <p class="form-control-static">{{order.quantities}}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Tanggal pengiriman</b></label>
            <div class="col-sm-10">
                <p class="form-control-static">{{order.deliveryDate}}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Catatan tambahan</b></label>
            <div class="col-sm-10">
                <p class="form-control-static">{{order.note}}</p>
            </div>
        </div>
    </form>
    <h4>Detail Pesanan</h4>
    <table class="table">
        <tr>
            <th>No</th>
            <th>Nama produk</th>
            <th>Harga satuan</th>
            <th>Subtotal</th>
        </tr>
        {{#order.orderDetails}}
        <tr>
            <td>1</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{price}}</td>
        </tr>
        {{/order.orderDetails}}
        <tr>
            <td colspan="3" class="summary">Harga sebelum diskon</td>
            <td>{{order.noDiscountPrice}}</td>
        </tr>
        <tr>
            <td colspan="3" class="summary">Potongan diskon</td>
            <td>{{order.discountAmount}}</td>
        </tr>
        <tr>
            <td colspan="3" class="summary"><b>Total harga</b></td>
            <td><b>{{order.totalPrices}}</b></td>
        </tr>
        <tr>
            <td colspan="3" class="summary"><b>DP yang harus dibayar</b></td>
            <td><b>{{order.dp}}</b></td>
        </tr>
    </table>

    <h2>Pembayaran</h2>
    <p>
        Kirimkan uang muka (DP) untuk pesanan Anda sejumlah Rp. <b>{{order.dp}}</b> ke rekening Kuliner
        Nusantara <br>
        <img src="http://sp.beritasatu.com/media/images/original/20111221144834840.jpg" width="100"> <br>
        BCA 1010101 <br>
        A/N PT. Kuliner Nusantara
    </p>
    <p>
        Jika Anda telah membayar, silahkan konfirmasi pembayaran dengan mengklik tombol berikut.
    </p>
    <form action="/my-customer/order/{{order.id}}/confirm" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <button class="btn btn-primary" value="submit">Konfirmasi Pembayaran</button>
    </form>
</main>

{{>_partial/footer}}
