{{>_partial/header}}
{{>_partial/navbar}}

<main class="container">
  <form class="form-horizontal" method="POST" action="/my-customer/edit">
      <input type="hidden" name="_csrf" value="{{_csrf}}"/>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{customer.email}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" value="{{customer.password}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Full Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="fullName" value="{{customer.fullName}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Nick Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nickName" value="{{customer.nickName}}">
          </div>
        </div>
        <div class="pull-right">
          <a href="/my-customer/profile" class="btn btn-default">Back</a>
          <input class="btn btn-primary" type="submit" value="Edit" />
        </div>
      </fieldset>
  </form>
</main>

{{>_partial/footer}}
